[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.2"
pymongo = "==4.6.3"
pyjwt = "==2.8.0"
flask-restx = "==1.3.0"
python-dotenv = "==1.0.1"
torch = "==2.0.0"
pillow = "==10.3.0"
torchvision = "==0.15.0"
ultralytics = "==8.1.44"
numpy = "==1.23.5"
pandas = "==2.2.2"
ml-dtypes = "==0.4.0"
matplotlib = "==3.8.4"
requests = "==2.23.0"
jinja2 = "*"
requests-toolbelt = "*"

[dev-packages]
torch = "==2.0.0"

[requires]
python_version = "3.11"
